* {
  margin: 0;
  padding: 0;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
}
body,
html {
  height: 100%;
}
.wrapper {
  height: 100%;
}
.page-outline {
  position: relative;
  height: 100%;
  overflow: hidden;
}
.page-outline .audio-box {
  position: fixed;
  top: .5rem;
  right: .5rem;
  z-index: 99;
  width: .9rem;
  height: .9rem;
  background: url("image/icon-music.svg") no-repeat;
  background-size: contain;
  animation: rotate-infinite 1.2s linear infinite;
}
@keyframes rotate-infinite {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1turn);
  }
}
.page-outline .switch-btn {
  position: fixed;
  bottom: .8rem;
  left: 0;
  z-index: 99;
  width: 100%;
  text-align: center;
}
.page-outline .switch-btn .icon-btn {
  display: inline-block;
  border-left: .2rem solid transparent;
  border-right: .2rem solid transparent;
  border-bottom: .3rem solid #fff;
  animation-iteration-count: infinite;
}
.page-outline section {
  position: absolute;
  z-index: 0;
  display: none;
  height: 100%;
  width: 100%;
  background: #999 url("image/wrapper.jpg") no-repeat;
  background-size: cover;
}
.page-outline section.z-active {
  z-index: 2;
}
.page-outline section.z-current {
  display: inline-block;
  z-index: 1;
}
